<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Auther:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

</div>
